@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 207, 203, 196;
  --raised-box-shadow-top-left: 149, 146, 141;
  --raised-box-shadow-bottom-right: 255, 255, 251;
  --title-background: 0, 0, 0, 0.04;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 36, 46, 56;
    --raised-box-shadow-top-left: 22, 29, 35;
    --raised-box-shadow-bottom-right: 50, 63, 77;
    --title-background: 0, 0, 0, 0.2;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.user-card {
  background: rgb(var(--background-rgb));
  box-shadow: 20px 20px 60px rgb(var(--raised-box-shadow-top-left)),
    -20px -20px 60px rgb(var(--raised-box-shadow-bottom-right));
}

.user-dashboard-title {
  background: rgba(var(--title-background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
